<!-- extend base layout -->
{% extends "base.html" %}
<html>

<br>
{% block content %}

<h1>{{ name }}, In the last round you got {{ lastCorr }} of  {{ lastTot }} problems correct!</h1>
  <h1>MathFun!</h1>
  <form action="{{ url_for('excook') }}" method="post">
      {{ form.hidden_tag() }}
      <p>
          How many problems would you like to do?<br>
          {{ form.problems(size=10) }}<br><br>
          What type of problems would you like to do?<br>
          {{ form.prbtype(size=10) }}<br><br>
          What is the maximum sum?<br>
	  {{ form.ceiling(size=3) }}<br><br>
      </p>
      <p><input type="submit"></p>
  </form>
</html>
{% endblock %}
